body{
    font-family: 'Segoe UI';
    background-color: white;
    text-align: center;
}
h1{
    color:rgb(204, 37, 65);
    text-align: center;
    font-size: 60px;
}
p{
    text-align:center;
    color: gray;
}
#img{
    background-color: pink;
    width: 400px;
}